{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="text-center mb-4">
        <img class="mb-4" src="https://classic.react.parts/react-logo.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Intranet</h1>
    </div>
    <div class="form-label-group">
    <label for="inputUsername" >Usuario</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-label-group">
    <label for="inputPassword" >Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Iniciar Sesion
    </button>
</form>
{% endblock %}
